*.exe
*.log
.gocache/
.env
deploy/tls/certs/
.idea/
.vscode/
pz6-web-security/
pz4_postman_collection.json
pz5_postman_collection.json
pz6_postman_collection.json

# не пушим в GitHub (по решению репозитория)
docs/
pz9_postman_collection.json
